name: CD-to-DockerHub
 
on:
  push:
    branches: [ main ]
 
jobs:
  docker-deploy:
    runs-on: ubuntu-latest
 
    env:
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/python-app
 
    steps:
    - uses: actions/checkout@v4
 
    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
 
    # --- WERSJONOWANIE ---
 
    - name: Set timestamp tag
      run: echo "TIMESTAMP=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_ENV
 
    - name: Set short SHA tag
      run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV
 
    # --- BUILD I PUSH ---
 
    - name: Build image (latest)
      run: |
        docker build -t $IMAGE_NAME:latest .
 
    - name: Tag image with timestamp and SHA
      run: |
        docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ env.TIMESTAMP }}
        docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ env.SHORT_SHA }}
 
    - name: Push all tags
      run: |
        docker push $IMAGE_NAME:latest
        docker push $IMAGE_NAME:${{ env.TIMESTAMP }}
        docker push $IMAGE_NAME:${{ env.SHORT_SHA }}
